<footer>
  <div class="footer-container">
      <div class="footer-column">
          <h3>We are here at</h3>
          <p>ABC
          </p>
      </div>
      <div class="footer-column">
          <h3>Call us</h3>
          <p>(+91) XXXXXXXXXX</p>
      </div>
      <div class="footer-column">
          <h3>Mail us</h3>
          <p>abc@domain.in</p>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="footer-logo">
          <img src="../Assets/photo_2024-06-19_15-47-45-removebg-preview.png" alt="Logo">
          <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum sit optio inventore nam quo quia? Debitis deleniti voluptas et porro obcaecati, at quidem harum rerum velit aut. Atque, cupiditate in?
          </p>
      </div>
      <div class="footer-links">
          <h3>Useful Links</h3>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </div>
      <div class="footer-subscribe">
          <h3>Subscribe</h3>
          <p>ABC</p>
          <form>
              <input type="email" placeholder="Email Address">
              <button type="submit">Subscribe</button>
          </form>
      </div>
  <div class="footer-social">
      <h3>Follow us</h3>
      <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
